{{ define "adventurer"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profil de l'Aventurier</title>
</head>
<body>
    <h1>Profil de l'Aventurier</h1>
    <p><strong>Nom:</strong> {{.Name}}</p>
    <p><strong>Classe:</strong> {{.Class}}</p>
    <p><strong>Niveau:</strong> {{.Level}}</p>
    <p><strong>Points de vie:</strong> {{.HP}}</p>
    <p><strong>Attaque:</strong> {{.Attack}}</p>
    <p><strong>Défense:</strong> {{.Defense}}</p>

    <p><a href="/adventurer/{{.CharId}}">Lien vers le profil</a></p>
</body>
</html>
{{ end}}