<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Adventurer</title>
    <!-- Add any additional head content here (e.g., CSS links) -->
</head>
<body>
    <h1>Update Adventurer</h1>
    <form action="/updateHandler" method="post">
        <input type="hidden" name="id" value="{{ .CharId }}" />
        <div>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" value="{{ .Name }}" required />
        </div>
        <div>
            <label for="equipe">Equipe:</label>
            <input type="text" id="equipe" name="equipe" value="{{ .Equipe }}" required />
        </div>
        <div>
            <label for="level">Niveau de Survie:</label>
            <input type="text" id="level" name="level" value="{{ .Lvl_survie }}" required />
        </div>
        <div>
            <label for="hp">HP:</label>
            <input type="number" id="hp" name="hp" value="{{ .HP }}" min="0" max="10" required />
        </div>
        <div>
            <label for="res">Res:</label>
            <input type="number" id="res" name="res" value="{{ .Res }}" min="0" max="10" required />
        </div>
        <div>
            <input type="submit" value="Update Adventurer" />
        </div>
    </form>
</body>
</html>
